html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#start-screen {
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

#timer-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #232323;
  font-family: "Arial Black", Gadget, sans-serif;
}

#start-screen > h1 {
  color: #FFFFFF;
  font-size: 10em;
  text-shadow: 5px 1px 2px #757575;
}

#start-screen > h2 {
  color: #FFFFFF;
  font-size: 2em;
  text-shadow: 2px 1px 2px #757575;
}

#timer-screen > h3 {
  display: none;
  color: #FFFFFF;
  margin:0;
}

#timer-screen > button {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  display: hidden;
  background-color: #ced4da;
  color: #232323;
  border-radius: 1vw;
  outline: none;
}

#start-screen > button {
  width: 20vw;
  height: 7.5vw;
  font-size: 3vw;
  background-color: #ced4da;
  color: #232323;
  border-radius: 1vw;
  outline: none;
}

#start-screen > button:hover {
  animation: fade 1s infinite;
  cursor: pointer;
}

@keyframes fade {
  0%   {opacity: 1;}
  30%  {opacity: 0.4;}
  60%  {opacity: 1;}
}